@CHARSET "ISO-8859-1";
/*Pseudo Seletores */

div h1:first-child{
	color:red;
}

a:LINK{
	color:red;
}

a:VISITED {
	color:green;
}

a:ACTIVE {
	color: #8000ff;
}

a:lang(en) {
	color: gray;
}

input[type="text"]:focus{
	background-color: yellow;
}

label:hover{
	background-color: green;
}

p:FIRST-LINE {
	color: #008080;
}

p:FIRST-LETTER {
	font-size: 40px;
	color: red;
}

p:BEFORE {
	content: "INICIO";
}
p:AFTER {
	content: "FIM";
}