@CHARSET "ISO-8859-1";

/*Aula 4*/

/*Seletor universal, aplicado a todo documento*/
*{
	color:#006699;
}

/*Seletor elemento ou tipo, aplicado a uma tag especifica */
p{
	color: #0000CC;
}

/*Seletor classe, aplicado a varias tags */
.destaque{
	color: #CC0000;
}	

.detalhe{
	text-decoration: underline;
}	

/*Seletor id, so poder haver em apenas um elemento html */
#introducao{
	background-color: #FFCC33;
}

/*Seletor atributo, seletor mais o atributo que o elemento tenha */
em[title = empresa]{
	color: #336600;
	font-size:30px;
}

/*com espaco no atributo */
em[title ~= empresa]{
	color: #00ff00;
	font-size:40px;
}

/*com travessao */
em[title |= empresa]{
	color: #ff0080;
	font-size:50px;
}

/*links que comecer com http: */
a[href^="http:"]{
	background-color: blue;
}

/*links que comecer com mailto: */
a[href^="mailto:"]{
	background-color: yellow;
}

/*links que termine com .zip */
a[href$=".zip"]{
	background-color: gray;
}